.contactMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #bfbfbf;
  /* overflow: auto; */
}

.contactDivContact {
  display: flex;
  flex-direction: column;
  background: url('../../Assets/images/background-image_bureau_design.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  border-radius: 20px;
  margin-top: 100px;
  width: 75vw;
  padding: 25px 25px 30px 60px;
  justify-content: flex-end;
  align-items: flex-end;
}

.contactTitleContact {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 64px;
  color: #1b3461;
}

.contactDivForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 50px;
}

.contactLogoConrado {
  height: 200px;
  margin-right: 150px;
}

.contactForm {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 8%;
  row-gap: 25px;
  
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

/* .contactInput {
  line-height: 1.5rem;
  width: 35vh;
  margin: 20px;
} */

.contactForm > * {
  height: 100%;
  border-radius: none;
  
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 24px; */
  color: rgba(27, 52, 97, 0.69);
}

.contactInputName {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;  
}

.contactInputEmail {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3; 
}

.contactInputTel {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.contactInputObjet {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.contactInputContainerDescription {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  /* height: 100%; */
}

.contactInputDescription {
  display:flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

textarea::placeholder {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(27, 52, 97, 0.69);
}

.contactInputNewsLetter {
  font-size: .8rem;
}

.contactButtonContact {
  text-decoration: none;
  border: none;
  background-color: #1b3461;
  box-shadow: 0px 5px 25px -6px rgba(0, 32, 108, 0.35);
  border-radius: 10px;
  width: 299px;
  height: 63px;
  margin-top: 15px; 


  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
}

.contactNetwork {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contactNetworkTitle {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 64px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b3461;
}

.contactNetworkContainerLogos {
  display: flex;
  flex-direction: row;
}

.contactNetworkLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 0px 25px;
}

.contactNetworkLogoButton {
  background: #E8C135;
  /* background-image: url(../../Assets/logo_instagram.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  */
  box-shadow: 0px 10px 25px -5px rgba(242, 205, 70, 0.58);
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.contactNetworkLogoButton svg {
  color: #1b3461;
}

#contactLogoInstagram {
  background-image: url(../../Assets/images/logo_instagram.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/* TODO : Centrer le logo copier */
/* TODO : Voir à utiliser les logo copié et OK de FontAwesome */
/* Voir à faire une div englobante pour faire un flex */
.contactNetworkLogoButtonName::after {
  display: inline-block;
  /* content: url(../../Assets/logo_copier.svg) */
  content: " ";
  /* background-image: url('../../Assets/images/logo_mail.svg'); */
  background-image: url('../../Assets/copy.svg');
  /* background-size: 28px 28px; */
  height: 19px;
  width: 19px;
  cursor: pointer;
  /* margin-left: 10px; */
  margin: 10px 0px 0px 10px;
  align-items: center;
  justify-content: center;
}
