<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../dist/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <section class="w-screen h-screen">
        <div class="bg-white h-1/2 w-full">

        </div>

        <div class="bg-primary h-1/2 w-full">

        </div>



        <div class="absolute top-20 text-white">
            <div class="flex justify-center mb-10">
                <div class="w-auto px-4 border-x-[6px] border-secondary text-center">
                    <h1 class="text-primary font-bold text-4xl">NOS TÉMOIGNAGES</h1>
                </div>
            </div>

            <!-- Image of the testimonials -->
            <div class="flex flex-col md:flex-row justify-between w-full px-12">

                <div class="w-full md:w-1/3 text-center text-red-400 mr-[80px]">
                    <!-- Emplacement image -->
                    <div style="background-image: url(https://images.unsplash.com/photo-1663445058925-302daba82e49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60); background-size: cover"
                        class="w-full h-0 pb-full">
                        <!-- <img src="https://images.unsplash.com/photo-1663445058925-302daba82e49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" style="height: 100%;"> -->
                    </div>

                    <span>Lorem Ipsum</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, repellat.</p>
                </div>

                <div class="w-full md:w-1/3 text-center text-red-400 mr-[80px]">
                    <!-- Emplacement image -->
                    <div style="background-image: url(https://images.unsplash.com/photo-1663445058925-302daba82e49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60); background-size: cover"
                        class="w-full h-0 pb-full">
                        <!-- <img src="https://images.unsplash.com/photo-1663445058925-302daba82e49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" style="height: 100%;"> -->
                    </div>

                    <span>Lorem Ipsum</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, repellat.</p>
                </div>

                <div class="w-full md:w-1/3 text-center text-red-400">
                    <!-- Emplacement image -->
                    <div style="background-image: url(https://images.unsplash.com/photo-1663445058925-302daba82e49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60); background-size: cover"
                        class="w-full h-0 pb-full">
                        <!-- <img src="https://images.unsplash.com/photo-1663445058925-302daba82e49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" style="height: 100%;"> -->
                    </div>

                    <span>Lorem Ipsum</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, repellat.</p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>