.header {
  width: 100%;
  height: 116px;
  background-color: #1b3461;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
}

.accueil {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
}

.list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-right: 5vw;
  font-size: 0.5rem;
  color: #e8c135;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}
