.navbar {
  width: 100%;
  height: 100px;
  background-color: #1b3461;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
}

.navbarAccueil {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* right: 20px; */
  margin-right: 10px;
  cursor: pointer;
}

.navbarLogo {
  /* width: 40px; */
  height: 70px;
}

.navbarContainerLogoName {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
}

.navbarLogoName {
  /* display: flex; */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 2px 0px 2px 0px;

  color: #E8C135;
}

.navbarList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbarItem {
  margin-right: 5vw;
  font-size: 1.1rem;
  color: rgb(232, 193, 53 );
  font-weight: 300;
  cursor: pointer;
  /* text-decoration: none; */

  font-weight: 700;

  position: relative;
}

.navbarItem:hover {
  color: rgb(232, 193, 53, 0.5);
}

/* i::before {
  content: url("../../Assets/angle-down-solid.svg"); 
  content: "\f107";
  display: inline-block;
  width: 10px;
  color: red;
  font-weight: 900;
} */

i::before {
  content: "\f107";
  display: inline-block;
  width: 10px;
  color: red;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
}

i {
  /* La font-size nique la mise en forme */
  /* font-size: 1.5rem; */
  color: #e8c135;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none; 

  font-weight: 700;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute; 
  padding-left: 0;
  left: 0;
  display: none;
  background: #1b3461;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  /* min-width: 250px; */
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

.dropdown-menu {
}

.dropdownItem {
  list-style: none;
}

/*
.dropdown-menu:hover {

}

.dropdown-menu:hover .dropdownItem {
  display: block;
} */