<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../dist/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <section class="relative bg-gradient-to-r from-secondary to-white overflow-hidden">
        <div class="py-20 md:py-28">
            <div class="container px-4 mx-auto">
                <div class="flex flex-wrap xl:items-center -mx-4">
                    <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
                        <h1
                            class="mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tight text-center">
                            “ON NE PROPOSE PAS
                            DES PRESTATIONS,
                            ON VOUS APPORTE
                            DES SOLUTIONS”</h1>
                    </div>
                    <div class="w-full md:w-1/2 px-4">
                        <div class="relative mx-auto md:mr-0 max-w-max">

                            <a href="#" class="text-9xl lg:text-[300px] text-black">
                                <i class="fa-regular fa-lightbulb"></i>
                            </a>
                            <!-- <img class="absolute z-10 -left-14 -top-12 w-28 md:w-auto"
                                src="flex-ui-assets/elements/circle3-yellow.svg" alt=""><img
                                class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto"
                                src="flex-ui-assets/elements/dots3-blue.svg" alt=""><img class="relative rounded-7xl"
                                src="flex-ui-assets/images/headers/header.jpg" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>